.dharmikCardChild {
  width: 123px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
  height: 173px;
  display: none;
}
.frameChild {
  height: 72.9px;
  width: 72.9px;
  position: absolute;
  margin: 0 !important;
  top: -59px;
  left: -14.1px;
  border-radius: var(--br-81xl);
  object-fit: cover;
  z-index: 1;
}
.ratingChild {
  width: 47.5px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  height: 21.2px;
  display: none;
}
.div,
.starIcon {
  position: relative;
  z-index: 1;
}
.starIcon {
  height: 13.1px;
  width: 13.6px;
  border-radius: var(--br-xl);
}
.div {
  height: 14px;
  width: 8px;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.rating,
.rectangleParent {
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rating {
  width: 48px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  padding: var(--padding-10xs) var(--padding-3xs) var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-10xs);
  z-index: 2;
}
.rectangleParent {
  width: 49px;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
}
.haldiDharmik {
  width: 88.2px;
  height: 16.1px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.div1,
.priceIcon {
  height: 9.8px;
  width: 6.8px;
  position: relative;
  z-index: 1;
}
.div1 {
  height: 13px;
  width: 15px;
  display: inline-block;
  flex-shrink: 0;
}
.priceIconParent {
  height: 13px;
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frameWrapper,
.haldiDharmikParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  width: 45px;
  height: 13px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray-100);
}
.haldiDharmikParent {
  width: 88px;
  height: 30px;
  flex-direction: column;
  gap: var(--gap-12xs);
  color: var(--color-black);
}
.connectChild {
  width: 77.2px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-royalblue);
  height: 25.4px;
  display: none;
}
.connect1 {
  height: 13px;
  width: 42px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.connect,
.dharmikCard {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.connect {
  width: 78px;
  height: 26px;
  border-radius: var(--br-6xl);
  background-color: var(--color-royalblue);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-lg) var(--padding-7xs)
    var(--padding-mid);
  z-index: 1;
  color: var(--color-white);
}
.dharmikCard {
  height: 174px;
  width: 124px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-51xl) var(--padding-mid) var(--padding-3xs)
    var(--padding-lg);
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
  font-family: var(--font-roboto);
}
